.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.turbo

tmp
dist
node_modules

*.tsbuildinfo
*.tmp.js

yarn-error.log
tsconfig.tsbuildinfo
.DS_Store

.idea

.env
# local env files
.env.local
.env.development.local
.env.test.localp
.env.production.local

.expo

# Test artifacts
/coverage/

# Misc
todo.md

*storybook.log
storybook-static/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Local Netlify folder
.netlify

# Tauri
*.provisionprofile
Entitlements.plist
release/
