* {
  scrollbar-color: var(--secondary) transparent;
}

@media screen and (width >= 48rem) {
  ion-toolbar {
    padding-right: calc(var(--ion-safe-area-right, 0) + 8px);
    padding-left: calc(var(--ion-safe-area-left, 0) + 8px);
  }
}

@media screen and (width >= 48rem) {
  ::-webkit-scrollbar {
    width: 8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    @apply bg-background!;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    border-radius: 12px;
  }
}

.hide-scrollbars {
  /* IE 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari, Edge */
.hide-scrollbars::-webkit-scrollbar {
  height: 0;
  width: 0;
}
