@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Core CSS required for Ionic components to work properly */
@import '@ionic/react/css/core.css';

/* Basic CSS for apps built with Ionic */
/* @import '@ionic/react/css/normalize.css'; */
/* @import '@ionic/react/css/structure.css'; */
/* @import '@ionic/react/css/typography.css'; */

/* Optional CSS utils that can be commented out */
@import '@ionic/react/css/padding.css';
/* @import '@ionic/react/css/float-elements.css'; */
/* @import '@ionic/react/css/text-alignment.css'; */
/* @import '@ionic/react/css/text-transformation.css'; */
/* @import '@ionic/react/css/flex-utils.css'; */
/* @import '@ionic/react/css/display.css'; */

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import '@ionic/react/css/palettes/dark.system.css';

:root {
  --accent-color: #ce46e6;

  --ion-color-primary: var(--accent-color);
  --ion-tab-bar-color-selected: var(--accent-color);
  /* --ion-toolbar-color: #ce46e6; */

  --ion-item-border-color: gray;
  --ion-toolbar-background: white;
  --ion-tab-bar-background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: black;
    --ion-toolbar-background: black;
    --ion-tab-bar-background: black;
  }
}

button {
  cursor: pointer;
}

ion-button {
  --border-radius: 9999px;
}

ion-toolbar.md {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-padding-end: 20px;
  padding-inline-end: 20px;
}

ion-tab-bar {
  padding-right: max(var(--safe-area-inset-right, 0px), var(--ion-safe-area-right, 0px)) !important;
  padding-bottom: max(var(--safe-area-inset-bottom, 0px), var(--ion-safe-area-bottom, 0px)) !important;
  padding-left: max(var(--safe-area-inset-left, 0px), var(--ion-safe-area-left, 0px)) !important;
}

ion-list {
  --ion-item-background: var(--color-zinc-800);
}

ion-list.list-inset {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

*::selection {
  color: white !important;
  background-color: var(--accent-color) !important;
}

[data-tauri-drag-region] {
  user-select: none;
}

* {
  scrollbar-color: var(--color7) transparent;
}

/* ::-webkit-scrollbar { */
/*   width: 8px; */
/*   border-left: 1px solid transparent; */
/*   border-right: 1px solid transparent; */
/*   background: transparent; */
/* } */
/* ::-webkit-scrollbar-thumb { */
/*   background-color: var(--color7); */
/*   border-radius: 12px; */
/* } */

.prose hr {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

html.plt-mobileweb ion-toolbar,
html.plt-desktop ion-toolbar {
  --min-height: 55px;
}

@media screen and (width >= 48rem) {
  html.plt-mobileweb ion-toolbar,
  html.plt-desktop ion-toolbar {
    --min-height: 60px;
  }
}
